[package]
name    = "${CRATE_NAME}"
version = "0.0.0"
edition = "2021"

[dependencies]
dataflow = { version = "=0.0.0", path = "${ARC_DATAFLOW_SOURCE_DIR}" }
hexf     = { version = "0.2.1" }
serde    = { version = "1.0.136" }

[profile.dev]
opt-level = 0
split-debuginfo = "unpacked"
debug = false
