[submodule "mlir/tensorflow-mlir"]
	path = arc-to-mlir/tensorflow-mlir
	url = https://github.com/tensorflow/mlir
[submodule "mlir/llvm-project"]
	path = arc-to-mlir/llvm-project
	url = https://github.com/llvm/llvm-project.git
