name: github pages

on:
  push:
    branches:
      - mlir

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: 'latest'

      - name: Setup graphviz
        uses: kamiazya/setup-graphviz@v1

      - run: dot -Tpng ./docs/src/*.dot -O

      - run: mdbook build ./docs/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.GITHUB_PAGES }}
          publish_dir: ./docs/book/
          force_orphan: true
